<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <h3>연습 좀 할게요</h3>
    <h3>우리 아침은 어디서 먹을까요</h3>
    <h4>{{date}} 와 {{place}}</h4>

</body>
</html>